In [34]:
path = %pwd

In [35]:
path = f'{path}/submissions/'
path

'/home/lao/notebook/HousePrices/submissions/'

In [36]:
import pandas as pd
import numpy as np
import submission

In [37]:
sub1 = pd.read_csv(f'{path}submission_xg4.csv', index_col = 'Id')
sub2 = pd.read_csv(f'{path}submission_xg3.csv', index_col = 'Id')
sub3 = pd.read_csv(f'{path}submission_f3.csv', index_col = 'Id')
sub4 = pd.read_csv(f'{path}submission7.csv', index_col = 'Id')

In [38]:
sub5 = (sub1.SalePrice + sub2.SalePrice + sub3.SalePrice + sub4.SalePrice)/4

In [41]:
sub5 = sub5.to_frame()

In [42]:
sub5.head()

          SalePrice
Id
1461  123548.016370
1462  155729.658868
1463  177289.411996
1464  187791.604589
1465  187344.654105

In [49]:
sub5.to_csv(index=True, path_or_buf=f'{path}submission_ens1.csv')

In [47]:
sub5

          SalePrice
Id
1461  123548.016370
1462  155729.658868
1463  177289.411996
1464  187791.604589
1465  187344.654105
1466  178225.895208
1467  171501.510765
1468  172484.782013
1469  183134.866174
1470  121540.233491
1471  203469.917880
1472   90300.802424
1473   93263.137140
1474  152193.895592
1475  119382.209083
1476  358974.615622
1477  245935.484870
1478  292127.793497
1479  257416.090880
1480  499185.082220
1481  332597.164998
1482  208206.983439
1483  170623.596185
1484  164628.591428
1485  174457.205418
1486  196700.203286
1487  330372.112154
1488  239646.107173
1489  194627.979793
1490  205823.306501
...             ...
2890   71622.820784
2891  136303.955115
2892   54049.619960
2893   96981.941891
2894   47518.573962
2895  303047.859451
2896  274984.984428
2897  202159.584307
2898  154489.788509
2899  216616.148061
2900  163128.010865
2901  190141.908854
2902  185150.000795
2903  337796.819879
2904  355073.317800
2905   74556.438074
2906  207680.535042
2907  108806.078931
2908  134209.815153
2909  145220.971351
2910   79119.038648
2911   83352.936148
2912  144002.465268
2913   86331.462960
2914   81079.866825
2915   88570.163848
2916   85466.041520
2917  169700.102817
2918  117655.518876
2919  228175.559076

[1459 rows x 1 columns]